<footer class="footer">
  <div class="container">
    <div class="row text-muted">
      <div class="col-lg-12 h-100 text-center">
        <ul class="list-inline mb-2">
          
          <li class="list-inline-item">
            <%= link_to "ABOUT", about_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "SUPPORT", support_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "BLOG", blog_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "PRESS", press_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "CARRERS", careers_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "PRIVACY", privacy_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "TERMS", terms_path, style: "text-decoration: none;" %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to "FAQ", faq_path, style: "text-decoration: none;" %>
					</li>
					
          <li class="list-inline-item">
            <a herf="#">©INSTAFAKE 2020. All Rights Reserved.</a>
					</li>
					
					<li class="list-inline-item">
						<a href="facebook.com" target="_blank">
							<i class="fab fa-facebook fa-2x fa-fw"></i>
						</a>
					</li>

					<li class="list-inline-item">
						<a href="https://twitter.com/freshmurry" target="_blank">
							<i class="fab fa-twitter-square fa-2x fa-fw"></i>
						</a>
					</li>

					<li class="list-inline-item">
						<a href="https://www.instagram.com/freshmurry/" target="_blank">
							<i class="fab fa-instagram fa-2x fa-fw"></i>
						</a>
					</li>      
        </ul>
      </div>
    </div>
  </div>
</footer>