<% post.comments.each do |comment| %>
  <div class="panel-body">
    <div class="mb-2">
      <% if comment.user == current_user %>
        <%= link_to "Delete comment", comment_path(comment),
          method: :delete, remote: true, class: "core-sprite delete-comment hide-text" %>
      <% end %>
      <span>
        <div class="row">
          <div class="col-md-9">
            <%= link_to user_path(current_user) do %>
              <%= image_tag avatar_url(current_user), class: "post-author-icon" %>
            <% end %>
          
            <strong>
              <%= link_to comment.user.username, user_path(comment.user),
                class: "no-text-decoration normal-color" %>
            </strong>
            <span><%= comment.content %></span>
          </div>  
        </div>  
      </span>
    </div>
  </div>
<% end %>
